
.selectRegion {
  margin-top: 2.5rem;
  position: relative;


  select {
    padding: 1.1rem 1.5rem;
    width: 50%;
    font-size: .78rem;
    background: var(--color-white);
    border: none;
    color: var(--color-text);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 4px 20px 0px;
    cursor: pointer;
  }

  option {
    background: var(--color-white);
    font-size: .9rem;
    color: var(--color-text);

  }

}

@media (min-width: 900px) {

  .selectRegion {
    margin-top: 1rem;
    max-width: 300px;

    select {
      width: 100%;
      font-size: .9rem;
    }

    option {
      cursor: pointer;
    }
  }
}
