.header__container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

  h1 {
    font-size: .9rem;
  }

  .changeTheme__btn {
    all: unset;
    cursor: pointer;
    font-size: .75rem;
  }

}